.header {
    border-bottom: 1px solid #ececec;
    padding-top: 16px;
    padding-bottom: 16px;

    @media (min-width:768px) {
        padding-top: 0;
        padding-bottom: 0;
    }
        &__container {
            position: relative;

            display: flex;
            align-items: center;
        }
}
.header .logo {
    margin-right: auto;
    color: var(--main-text-color);
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    @media (min-width: 768px) {
        margin-right: 88px;
    }
    @media (min-width:1200px) {
        margin-right: 93px;
    }    
}
.blue-logo {
    color: $accentColor;
}
.menu-wrapper {
    display: none;

    @media (min-width:768px) {
        display: flex;
    }
}
.header-nav {
    display: flex;
    align-items: center;
        &__list {
            display: flex;    
        }
        &__item {
            margin-right: 50px;
            &:last-child {
            margin-right: 0;
            }
        }
        &__link {
            display: block;
            color: var(--main-text-color);
            padding-top: 32px;
            padding-bottom: 32px;
            text-decoration: none;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                &:hover,
                &:focus {
                    color: $accentColor;
                }
                &--current {
                    position: relative;
                    color: $accentColor;
                }
                &--current::after {
                    content: "";
                    position: absolute;
                    bottom: -1px;
                    display: block;
                    width: 100%;
                    height: 4px;
                    background-color: $accentColor;
                    border-radius: 2px;
                }      
        }
}
.header-contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 12px;  
    @media (min-width:768px) {
        display: block;
        margin-top: auto;
        margin-bottom: auto;
    }
    @media (min-width:1200px) {
        display: flex;
        margin-top: 0;
        margin-bottom: 0;
        font-size: inherit;
    }
    &__item:not(:last-child) {
        @media (min-width:768px) {
        margin-right: 0;
        margin-bottom: 10px;
        }
        @media (min-width:1200px) {
        margin-right: 50px;
        margin-bottom: 0;
        }
    }    
    &__link {
        color: $secondaryTextColor;
        fill: $secondaryTextColor;
        text-decoration: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        display: flex;
        align-items: center;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);    
            &:hover svg,
            &:focus svg {
                fill: $accentColor;
            }
            &:hover,
            &:focus {
                color: $accentColor;
            }
    }
    &__icon {
        margin-right: 8px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
            @media (min-width:1200px) {
            margin-right: 10px;
            
            }
        }


.menu-wrapper {
    width: 100%;
}