.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms 250ms;
        &__body {
            position: relative;
            padding: 40px;
            min-width: 528px;
            min-height: 581px;
            background-color: $whiteColor;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
        }
        &__button {  
            position: absolute;
            right: 8px;
            top: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            background-color: $whiteColor;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            cursor: pointer;
                &:hover svg,
                &:focus svg {
                    fill: $accentColor;
                    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
        }
        &__title {
            margin-bottom: 12px;
            font-weight: 700;
            font-size: 20px;
            line-height: 1.15;
            letter-spacing: 0.03em;
            color: $mainTextColor;
        }
        
}
.modal-form {
    &__box {
        margin-bottom: 10px;
            &:last-of-type {
                margin-bottom: 20px;
            }
    }
    &__box-label {
        display: block;
        margin-bottom: 4px;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: $secondaryTextColor;   
    }
    &__box-wrap {
        position: relative;
    }
    &__box-input {
        width: 100%;
        padding: 11px 42px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        transition: outline cubic-bezier(0.4, 0, 0.2, 1) 250ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &:focus {
                border-color: $accentColor;
                outline: $accentColor;
            }
            &:focus + svg {
                fill: $accentColor;
                transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
    }
    &__box-icon {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        fill: $blackColor;
    }
    &__box-message {
        width: 100%;
        max-height: 120px;
        padding: 12px 16px;
        resize: none;
        line-height: 1.14;
        letter-spacing: 0.01em;
        color: $mainTextColor;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        transition: outline cubic-bezier(0.4, 0, 0.2, 1) 250ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &:focus {
                border-color: $accentColor;
                outline: $accentColor;
            }
    }
    &__checkbox-terms {
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }
    &__terms-input {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
            &:checked + .modal-form__terms-icon {
                background-color: $accentColor;
                background-image: url(../image/svg/icon-check.svg);
                background-size: contain;
                background-origin: border-box;
            }
    }
    &__terms-icon {
        display: inline-block;
        width: 16px;
        height: 15px;
        margin-right: 7px;
        vertical-align: middle;
        border: 1px solid  $blackColor;
        border-radius: 2px;
    }
    &__terms-text {
        line-height: 1.72;
        letter-spacing: 0.03em;
        color: $secondaryTextColor;
    }
    &__terms-link {
        color: $accentColor;
    }
    &__send-button {
        display: block;
        margin: 0 auto;
        padding: 10px 55px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}
.is-hidden {
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    pointer-events: none;
}