.section-hero {
    background-color: $secondaryBgColor;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    min-height: 600px;
    background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
    url("../image/backgrounds/optimiz/bghero.jpg");
        &__title {
            color: $whiteColor;
            margin: auto;
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
            text-align: center;
            max-width: 696px;
            letter-spacing: 0.06em;
            text-transform: uppercase;
        }
        &__button {
            display: block;
            margin-top: 30px;
            margin-right: auto;
            margin-left: auto;
            padding-top: 10px;
            padding-right: 32px;
            padding-bottom: 10px;
            padding-left: 32px;
            text-align: center;
            font-style: normal;
            font-weight: 700;
            line-height: 1.87;
            letter-spacing: 0.06em;
            color: $whiteColor;
            background: $accentColor;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            cursor: pointer;
            border: transparent;
        }
}