// colors
  $mainTextColor: #212121;
  $secondaryTextColor: #757575;
  $mainBgColor: #e5e5e5;
  $secondaryBgColor: #2f303a;
  $accentColor: #2196f3;
  $btnBgColor: #f5f4fa;
  $whiteColor: #ffffff;
  $blackColor: #000000;
  $iconsColor:#afb1b8;
  $mainFontStyle:'Roboto', sans-serif;
  $duration: 250ms;
  $timing-function:cubic-bezier(0.4, 0, 0.2, 1);