// colors
  $mainTextColor: #212121;
  $secondaryTextColor: #757575;
  $mainBgColor: #e5e5e5;
  $secondaryBgColor: #2f303a;
  $accentColor: #2196f3;
  $btnBgColor: #f5f4fa;
  $whiteColor: #ffffff;
  $blackColor: #000000;
  $iconsColor:#afb1b8;